altair==4.1.0
appnope==0.1.2
argon2-cffi==21.1.0
astor==0.8.1
attrs==21.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.0
bleach==4.1.0
blinker==1.4
brotlipy==0.7.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093454189/work
charset-normalizer==2.0.7
click==7.1.2
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1635145362784/work
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
entrypoints==0.3
gitdb==4.0.9
GitPython==3.1.24
idna==3.3
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonpickle==2.0.0
jsonschema==4.1.2
jupyter-client==7.0.6
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mistune==0.8.4
multipledispatch==0.6.0
natsort @ file:///home/conda/feedstock_root/build_artifacts/natsort_1611580267114/work
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
notebook==6.4.5
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1634853070724/work
packaging==21.0
pandas==1.3.4
pandas-flavor==0.2.0
pandocfilters==1.5.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
plotly==5.3.1
prometheus-client==0.11.0
prompt-toolkit==3.0.21
protobuf==3.19.1
ptyprocess==0.7.0
pyarrow==6.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydeck==0.7.1
Pygments==2.10.0
pyjanitor @ file:///home/conda/feedstock_root/build_artifacts/pyjanitor_1630517639257/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing==3.0.3
pyrsistent==0.18.0
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291456365/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pytz-deprecation-shim==0.1.0.post0
pyvis==0.1.9
pyzmq==22.3.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1635240801513/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1633645172612/work
Send2Trash==1.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
streamlit==1.1.0
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
toml==0.10.2
toolz==0.11.1
tornado==6.1
traitlets==5.1.1
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.0.2
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
validators==0.18.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1627311788418/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
